@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .purple {
        background-color: #6427CE
      }
      .purple-light {
        background-color: #F3F2FF;
      }

}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 25s linear infinite;
}
